.ls-left-sidebar-container, .ls-right-sidebar-container {
    width: 300px; /* 设置左侧和右侧边栏的宽度，根据需要调整数值 */
}

.ls-main-container {
    max-width: 1200px; /* 设置编辑区域的最大宽度，根据需要调整数值 */
    margin: 0 auto; /* 将编辑区域居中 */
}
